div {
    text-align: center;
    font-family: sans-serif;
}

.switch{border:1px solid #ccc;width:50px;height:26px;border-radius:13px;cursor:pointer;display:inline-block}.switch-toggle{border:1px solid #999;box-shadow:1px 1px 1px #ccc;width:25px;height:24px;left:0;border-radius:12px;background:#fff;position:relative;transition:left .2s ease-in-out}.switch.on{background:green}.switch.on .switch-toggle{left:23px}.switch.disabled{cursor:not-allowed}

div.machine {
   font-size: 1.5em;
   margin-top: 2em;
   margin-bottom: 2em;
   border-color: black;
}

div.footer {
    font-size: 1.5em;
    padding-top: 1.5em;
    padding-bottom: 1.5em;
    background-color: grey;
    color: white;
}

div.header {
    font-size: 1.5em;
    padding-top: 1.5em;
    padding-bottom: 1.5em;
    background-color: grey;
    color: white;
}

h4 {
    color: red;
    font-size: 1em!important;

}